

h1 {
    font-family: sans-serif;
    font-size: 2.5em;
    color: #530082;
    margin-bottom: 0.75rem;
    
}



input::placeholder {
    color: #999999;
    font-size: 0.77em;
    font-style: italic;
  }

.bgTRADM3{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 38rem;
    flex-direction: column;
    gap: 40px;
    background: none;
    
}

.inputBoxTRADM3{
   position: relative;
   width: 350px; 
   box-shadow: 3px 3px 6px -1px #444444;
   border-radius: 13px;
}

.inputBoxTRADM3 input {
    width: 100%;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #ffffff;
    border-radius: 13px;
    outline: none;
    color: #000;
    font-size: 1.3em; 
    transition: 0.5s;
}

.inputBoxTRADM3 span{
    font-family: sans-serif;
    position: absolute;
    left: 0;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBoxTRADM3 input:valid ~ span,
.inputBoxTRADM3 input:focus ~ span
{
    color: #000;
    transform: translateX(10px) translateY(-7px);
    font-size:0.90em;
    padding: 0px 20px;
    background: #ffffff ;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    letter-spacing: 0.2em;
}

/* .inputBoxTRADM3:nth-child(2) input:valid ~ span,
.inputBoxTRADM3:nth-child(2) input:focus ~ span
{
    background: #00dfc4;;
    color: #530082;
    border-radius: 2px;
} */
.inputBoxTRADM3 input:valid,
.inputBoxTRADM3 input:focus
{
    border: 1px solid #000
}
