.bgboxSelect{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.pge{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.info{
    margin-top: 90px;
}
.errinho img {
    width: 600px ;
    height: 520px;
}

.button{
    cursor: pointer;
    display:flex;
    margin-top: 8%;
    border-radius: 10px;
    border: 2.3px solid #530082 ;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8.2%;
    width: 255px;
    justify-content: center;
    background: none ;
    color: #530082 ;   
}

.button:hover  {
    background: #530082;
    color: antiquewhite;
}

.boxButtons {
    margin:0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 10%;
}

.vol{
    height: 40px;
    width: 120px;
    margin-top: 55px;
    font-size: 25px;
    border-radius: 7px;
    border: 2px solid transparent;
    color: #fff;
    background-color: #530082;
  }