.bgformadm{
    display: flex;
    justify-content: center space-between ;
    align-items: center;
    min-height: 38rem;
    flex-direction: column;
    gap: 40px;
    background: none;
    gap: 7px
}

.inputBoxformadm{
    position: relative;
    width: 320px; 
    border-radius: 13px;
}

.inputBoxformadm input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 12px;
    outline: none;
    color: #000;
    font-size: 1em;
}

.inputBoxformadm span{
    font-family: sans-serif;
    position: absolute;
    left: 0;
    margin-top: 20px;
    padding: 12px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBoxformadm input:valid ~ span,
.inputBoxformadm input:focus ~ span
{
    color: #000;
    transform: translateX(10px) translateY(-7px);
    font-size:0.90em;
    padding: 0px 20px;
    background: #ffffff ;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    letter-spacing: 0.2em;
}

/* .inputBoxformadm:nth-child(2) input:valid ~ span,
.inputBoxformadm:nth-child(2) input:focus ~ span
{
    background: #00dfc4;;
    color: #530082;
    border-radius: 2px;
} */
.inputBoxformadm input:valid,
.inputBoxformadm input:focus
{
    border: 1px solid #000
}


/* botão */

.bgformadm .avcbtn{
    display: flex;
    justify-content: center;
}

.bgformadm .avcbtn p {
    font-size: medium;
}




/* base de estilização da label */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: 0;
    opacity: 0.01;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 2.3em;
    font-size: 1.05em;
    line-height: 1.7;
    cursor: pointer;
}

/* aspecto da checkbox  */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #aaa;
    background: #FFF;
    border-radius: .2em;
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 rgba(203, 34, 237, .2);
    -webkit-transition: all .275s;
            transition: all .275s;
}

/*  aspecto checked  */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✕';
    position: absolute;
    top: .580em;
    left: .13em;
    font-size: 1.375em;
    color: #CB22ED;
    line-height: 0;
    -webkit-transition: all .2s;
            transition: all .2s;
}

/* aspecto checked mudando */
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0) rotate(45deg);
            transform: scale(0) rotate(45deg);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0);
            transform: scale(1) rotate(0);
}

/* checkbox desabilitada */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #e9e9e9;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #777;
}

[type="checkbox"]:disabled + label {
    color: #aaa;
}

/* Acessibilidade */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    box-shadow: inset 0 1px 3px rgba(0,0,0, .1), 0 0 0 6px rgba(203, 34, 237, .2);
}

p {
    font-style: bold;
}

@media (max-width: 410px) {
    .inputBoxformadm{
        transition: 800ms ease;
        position: relative;
        width: 240px; 
        border-radius: 13px;
    }

}